.book-management {
    padding: 2rem;
    border-radius: 10px;
    background-color: #212529;
    color: white;
}

.card {
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #495057;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btnCancel{
    margin-left: 10px;
}