.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-brand:hover {
    color: #ffdf40;
  }
  
  .nav-link {
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ffdf40;
    transform: translateY(-2px);
  }
  
  .btn-outline-light {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-outline-light:hover {
    background-color: #ffdf40;
    color: #212529;
  }
  